@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@import '../styles/ticket.css';
@import '../styles/header.css';
@import '../styles/editData.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  @apply min-h-screen bg-background;
}

h2 {
  @apply text-4xl text-title;
}

h4, li {
  @apply text-xl text-text;
}

p {
  @apply text-sm text-text;
}

.column__center {
  @apply flex flex-col items-center
}

.title {
  @apply text-2xl text-title text-center lg:text-3xl duration-300
}

.button__container {
  @apply bg-primary-100 hover:bg-primary-50 duration-300 text-white rounded-lg
}

.button {
  @apply button__container text-sm  h-10 mt-4 w-72 lg:w-[523px] lg:h-12 lg:text-xl
}

.link {
  @apply button__container flex items-center justify-center text-sm h-10 mt-16 w-72 lg:w-full lg:h-10 lg:text-lg
}

.input {
  @apply border rounded-lg border-text text-text w-72 h-10 pl-4 lg:w-[523px] lg:h-12 lg:text-lg duration-300 focus:outline-none focus:border-startProcess-card-100
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
  }
}




